---
layout: default
---

<header>
<!--     <div class="psg-experten-logo"></div>
 --></header>


<div class="row">
  <div class="small-12 small-centered columns">
    <h2>Upplev Zlatan i Paris</h2>
    <p class="ingress">PSG-Experten erbjuder fotbollsresor till Paris Saint Germains samtliga hemmamatcher. Ta chansen och se Zlatan i ett stjärnspäckat fotbollslag samtidigt som du tar del av Paris härliga atmosfär.</p>
  </div>
</div>

<div class="row">
  <div class="small-12 small-centered columns">
    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="fixtures">
      <thead>
        <tr>
          <th width="50%">Matcher</th>
          <th width="20%">Datum</th>
          <th width="10%" class="hide-for-small">Pris</th>
          <th width="20%" class="hide-for-small">Biljett</th>
        </tr>
      </thead>
        <tbody>
          <tr>
            <td><a href="tickets/psg-bastia/"><img src="img/club-logos/psg.png" width="40px" height="40px" class="team-logo">PSG vs. <img src="img/club-logos/bastia.png" width="40px" class="team-logo">Bastia</a></td>
            <td>16 Aug</td>
            <td class="hide-for-small">399kr</td>
            <td class="hide-for-small"><a href="/tickets/psg-bastia/" class="button">Köp Biljett</a></td>
          </tr>
          <tr>
            <td><a href="#"><img src="img/logo-psg.png" class="team-logo">PSG vs. <img src="img/club-logos/saint-etienne.png" width="40px" class="team-logo">Saint Etienne</a></td>
            <td>31 Aug</td>
            <td class="hide-for-small">399kr</td>
            <td class="hide-for-small"><a href="#" class="button">Köp Biljett</a></td>
          </tr>
          <tr>
            <td><img src="img/logo-psg.png" class="team-logo">PSG vs. <img src="img/club-logos/lyon.png" width="40px" class="team-logo">Lyon</td>
            <td>21 Sept</td>
            <td class="hide-for-small">399kr</td>
            <td class="hide-for-small"><a href="#" class="button">Köp Biljett</a></td>
          </tr>
          <tr>
            <td><img src="img/logo-psg.png" class="team-logo">PSG vs. <img src="img/club-logos/monaco.png" width="40px" class="team-logo">Monaco</td>
            <td>10 Okt</td>
            <td class="hide-for-small">399kr</td>
            <td class="hide-for-small"><a href="#" class="button">Köp Biljett</a></td>
          </tr>
          <tr>
            <td><img src="img/logo-psg.png" class="team-logo">PSG vs. <img src="img/club-logos/bordeaux.png" width="40px" class="team-logo">Bordeaux</td>
            <td>25 Okt</td>
            <td class="hide-for-small">399kr</td>
            <td class="hide-for-small"><a href="#" class="button">Köp Biljett</a></td>
          </tr>
          <tr>
            <td><img src="img/logo-psg.png" class="team-logo">PSG vs. <img src="img/club-logos/marseille.png" width="40px" class="team-logo">Marseille</td>
            <td>11 Nov</td>
            <td class="hide-for-small">399kr</td>
            <td class="hide-for-small"><a href="#" class="button">Köp Biljett</a></td>
          </tr>
          <tr>
            <td><img src="img/logo-psg.png" class="team-logo">PSG vs. <img src="img/club-logos/nice.png" width="40px" class="team-logo">Nice</td>
            <td>29 Nov</td>
            <td class="hide-for-small">399kr</td>
            <td class="hide-for-small"><a href="#" class="button">Köp Biljett</a></td>
          </tr>
          <tr>
            <td><img src="img/logo-psg.png" class="team-logo">PSG vs. <img src="img/club-logos/nantes.png" width="40px" class="team-logo">Nantes</td>
            <td>6 Dec</td>
            <td class="hide-for-small">399kr</td>
            <td class="hide-for-small"><a href="#" class="button">Köp Biljett</a></td>
          </tr>
          <tr>
            <td><img src="img/logo-psg.png" class="team-logo">PSG vs. <img src="img/club-logos/montpellier.png" width="40px" class="team-logo">Montpellier</td>
            <td>20 Dec</td>
            <td class="hide-for-small">399kr</td>
            <td class="hide-for-small"><a href="#" class="button">Köp Biljett</a></td>
          </tr>
          <tr>
            <td><img src="img/logo-psg.png" class="team-logo">PSG vs. <img src="img/club-logos/evian.png" width="40px" class="team-logo">Evian TG</td>
            <td>17 Jan</td>
            <td class="hide-for-small">399kr</td>
            <td class="hide-for-small"><a href="#" class="button">Köp Biljett</a></td>
          </tr>
          <tr>
            <td><img src="img/logo-psg.png" class="team-logo">PSG vs. <img src="img/club-logos/rennes.png" width="40px" class="team-logo">Rennes</td>
            <td>31 Jan</td>
            <td class="hide-for-small">399kr</td>
            <td class="hide-for-small"><a href="#" class="button">Köp Biljett</a></td>
          </tr>
          <tr>
            <td><img src="img/logo-psg.png" class="team-logo">PSG vs. <img src="img/club-logos/caen.png" width="40px" class="team-logo">Caen</td>
            <td>14 Feb</td>
            <td class="hide-for-small">399kr</td>
            <td class="hide-for-small"><a href="#" class="button">Köp Biljett</a></td>
          </tr>
          <tr>
            <td><img src="img/logo-psg.png" class="team-logo">PSG vs. <img src="img/club-logos/toulouse.png" width="40px" class="team-logo">Toulouse</td>
            <td>21 Feb</td>
            <td class="hide-for-small">399kr</td>
            <td class="hide-for-small"><a href="#" class="button">Köp Biljett</a></td>
          </tr>
          <tr>
            <td><img src="img/logo-psg.png" class="team-logo">PSG vs. <img src="img/club-logos/lens.png" width="40px" class="team-logo">Lens</td>
            <td>7 Mars</td>
            <td class="hide-for-small">399kr</td>
            <td class="hide-for-small"><a href="#" class="button">Köp Biljett</a></td>
          </tr>
          <tr>
            <td><img src="img/logo-psg.png" class="team-logo">PSG vs. <img src="img/club-logos/lorient.png" width="40px" class="team-logo">Lorient</td>
            <td>21 Mars</td>
            <td class="hide-for-small">399kr</td>
            <td class="hide-for-small"><a href="#" class="button">Köp Biljett</a></td>
          </tr>
          <tr>
            <td><img src="img/logo-psg.png" class="team-logo">PSG vs. <img src="img/club-logos/metz.png" width="40px" class="team-logo">Metz</td>
            <td>12 April</td>
            <td class="hide-for-small">399kr</td>
            <td class="hide-for-small"><a href="#" class="button">Köp Biljett</a></td>
          </tr>
          <tr>
            <td><img src="img/logo-psg.png" class="team-logo">PSG vs. <img src="img/club-logos/lille.png" width="40px" class="team-logo">Lille</td>
            <td>25 April</td>
            <td class="hide-for-small">399kr</td>
            <td class="hide-for-small"><a href="#" class="button">Köp Biljett</a></td>
          </tr>
          <tr>
            <td><img src="img/logo-psg.png" class="team-logo">PSG vs. <img src="img/club-logos/guingamp.png" width="40px" class="team-logo">Guingamp</td>
            <td>9 Maj</td>
            <td class="hide-for-small">399kr</td>
            <td class="hide-for-small"><a href="#" class="button">Köp Biljett</a></td>
          </tr>
          <tr>
            <td><img src="img/logo-psg.png" class="team-logo">PSG vs. <img src="img/club-logos/reims.png" width="40px" class="team-logo">Reims</td>
            <td>23 Maj</td>
            <td class="hide-for-small">399kr</td>
            <td class="hide-for-small"><a href="#" class="button">Köp Biljett</a></td>
          </tr>
        </tbody>
    </table>
  </div>
</div>

  {% include promo.html %}

  {% include about.html %}


