---
layout: default
---

<header>
    <div class="psg-experten-logo"><!-- <span>PSG Experten Logo</span> --></div>
</header>


<div class="row">
  <div class="small-12 small-centered columns">
    <h1>Upplev Zlatan i Paris</h1>
    <p class="ingress">PSG-Experten erbjuder fotbollsresor till Paris Saint Germains samtliga hemmamatcher. Ta chansen och se Zlatan i ett stjärnspäckat fotbollslag samtidigt som du tar del av Paris härliga atmosfär.</p>
  </div>
</div>

<div class="row">
  <div class="small-12 small-centered columns">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th width="50%">Matcher</th>
          <th width="20%">Datum</th>
          <th width="10%">Pris</th>
          <th width="20%" class="hide-for-small">Biljett</th>
        </tr>
      </thead>
        <tbody>
          <tr>
            <td><a href="/tickets/psg-bastia/"><img src="img/logo-psg.png" class="team-logo">PSG vs. <img src="img/logo-st-etienne.png" width="40px" class="team-logo">Bastia</a></td>
            <td>16 Augusti</td>
            <td>399kr</td>
            <td class="hide-for-small"><a href="/tickets/psg-bastia/" class="button">Köp Biljett</a></td>
          </tr>
          <tr>
            <td><a href="#"><img src="img/logo-psg.png" class="team-logo">PSG vs. <img src="img/logo-st-etienne.png" width="40px" class="team-logo">Saint Etienne</a></td>
            <td>31 Augusti</td>
            <td>399kr</td>
            <td class="hide-for-small"><a href="#" class="button">Köp Biljett</a></td>
          </tr>
          <tr>
            <td><img src="img/logo-psg.png" class="team-logo">PSG vs. <img src="img/logo-lyon.png" width="40px" class="team-logo">Lyon</td>
            <td>21 September</td>
            <td>399kr</td>
            <td class="hide-for-small"><a href="#" class="button">Köp Biljett</a></td>
          </tr>
          <tr>
            <td><img src="img/logo-psg.png" class="team-logo">PSG vs. <img src="img/logo-monaco.png" width="40px" class="team-logo">Monaco</td>
            <td>10 October</td>
            <td>399kr</td>
            <td class="hide-for-small"><a href="#" class="button">Köp Biljett</a></td>
          </tr>
          <tr>
            <td><img src="img/logo-psg.png" class="team-logo">PSG vs. <img src="img/logo-monaco.png" width="40px" class="team-logo">Bordeaux</td>
            <td>25 October</td>
            <td>399kr</td>
            <td class="hide-for-small"><a href="#" class="button">Köp Biljett</a></td>
          </tr>
          <tr>
            <td><img src="img/logo-psg.png" class="team-logo">PSG vs. <img src="img/logo-monaco.png" width="40px" class="team-logo">Marseille</td>
            <td>11 November</td>
            <td>399kr</td>
            <td class="hide-for-small"><a href="#" class="button">Köp Biljett</a></td>
          </tr>
          <tr>
            <td><img src="img/logo-psg.png" class="team-logo">PSG vs. <img src="img/logo-monaco.png" width="40px" class="team-logo">Nice</td>
            <td>29 November</td>
            <td>399kr</td>
            <td class="hide-for-small"><a href="#" class="button">Köp Biljett</a></td>
          </tr>
          <tr>
            <td><img src="img/logo-psg.png" class="team-logo">PSG vs. <img src="img/logo-monaco.png" width="40px" class="team-logo">Nantes</td>
            <td>6 December</td>
            <td>399kr</td>
            <td class="hide-for-small"><a href="#" class="button">Köp Biljett</a></td>
          </tr>
          <tr>
            <td><img src="img/logo-psg.png" class="team-logo">PSG vs. <img src="img/logo-monaco.png" width="40px" class="team-logo">Montpellier</td>
            <td>20 December</td>
            <td>399kr</td>
            <td class="hide-for-small"><a href="#" class="button">Köp Biljett</a></td>
          </tr>
          <tr>
            <td><img src="img/logo-psg.png" class="team-logo">PSG vs. <img src="img/logo-monaco.png" width="40px" class="team-logo">Evian TG</td>
            <td>17 Januari</td>
            <td>399kr</td>
            <td class="hide-for-small"><a href="#" class="button">Köp Biljett</a></td>
          </tr>
          <tr>
            <td><img src="img/logo-psg.png" class="team-logo">PSG vs. <img src="img/logo-monaco.png" width="40px" class="team-logo">Rennes</td>
            <td>31 Januari</td>
            <td>399kr</td>
            <td class="hide-for-small"><a href="#" class="button">Köp Biljett</a></td>
          </tr>
          <tr>
            <td><img src="img/logo-psg.png" class="team-logo">PSG vs. <img src="img/logo-monaco.png" width="40px" class="team-logo">Caen</td>
            <td>14 Februari</td>
            <td>399kr</td>
            <td class="hide-for-small"><a href="#" class="button">Köp Biljett</a></td>
          </tr>
          <tr>
            <td><img src="img/logo-psg.png" class="team-logo">PSG vs. <img src="img/logo-monaco.png" width="40px" class="team-logo">Toulouse</td>
            <td>21 Februari</td>
            <td>399kr</td>
            <td class="hide-for-small"><a href="#" class="button">Köp Biljett</a></td>
          </tr>
          <tr>
            <td><img src="img/logo-psg.png" class="team-logo">PSG vs. <img src="img/logo-monaco.png" width="40px" class="team-logo">Lens</td>
            <td>7 Mars</td>
            <td>399kr</td>
            <td class="hide-for-small"><a href="#" class="button">Köp Biljett</a></td>
          </tr>
          <tr>
            <td><img src="img/logo-psg.png" class="team-logo">PSG vs. <img src="img/logo-monaco.png" width="40px" class="team-logo">Lorient</td>
            <td>21 Mars</td>
            <td>399kr</td>
            <td class="hide-for-small"><a href="#" class="button">Köp Biljett</a></td>
          </tr>
          <tr>
            <td><img src="img/logo-psg.png" class="team-logo">PSG vs. <img src="img/logo-monaco.png" width="40px" class="team-logo">Metz</td>
            <td>12 April</td>
            <td>399kr</td>
            <td class="hide-for-small"><a href="#" class="button">Köp Biljett</a></td>
          </tr>
          <tr>
            <td><img src="img/logo-psg.png" class="team-logo">PSG vs. <img src="img/logo-monaco.png" width="40px" class="team-logo">Lille</td>
            <td>25 April</td>
            <td>399kr</td>
            <td class="hide-for-small"><a href="#" class="button">Köp Biljett</a></td>
          </tr>
          <tr>
            <td><img src="img/logo-psg.png" class="team-logo">PSG vs. <img src="img/logo-monaco.png" width="40px" class="team-logo">Guingamp</td>
            <td>9 Maj</td>
            <td>399kr</td>
            <td class="hide-for-small"><a href="#" class="button">Köp Biljett</a></td>
          </tr>
          <tr>
            <td><img src="img/logo-psg.png" class="team-logo">PSG vs. <img src="img/logo-monaco.png" width="40px" class="team-logo">Reims</td>
            <td>23 Maj</td>
            <td>399kr</td>
            <td class="hide-for-small"><a href="#" class="button">Köp Biljett</a></td>
          </tr>
        </tbody>
    </table>
  </div>
</div>

  {% include promo.html %}

  {% include about.html %}


