<div class="row">
  <div class="small-12 small-centered columns">
      <h1>Om oss</h1>
      <p>PSG-Experten erbjuder fotbollsresor till Paris Saint Germains samtliga hemmamatcher. Ta chansen och se Zlatan i ett stjärnspäckat fotbollslag samtidigt som du tar del av Paris härliga atmosfär. Boka din PSG-biljtter idag och få dom direkt levererade hem i brevlådan.</p>
  </div>
</div>

<div class="row">
  <div class="large-6 columns">
    <div class="feature"><h5>100% secure football tickets.</h5><p>All tickets are either directly from the football clubs, or via an official agent for the club.<p></div>
    <div class="feature"><h5>100% secure football tickets.</h5><p>All tickets are either directly from the football clubs, or via an official agent for the club.<p></div>
  </div>
  <div class="large-6 columns">
    <div class="feature"><h5>100% secure football tickets.</h5><p>All tickets are either directly from the football clubs, or via an official agent for the club.<p></div>
    <div class="feature"><h5>100% secure football tickets.</h5><p>All tickets are either directly from the football clubs, or via an official agent for the club.<p></div>
  </div>
</div>