<div class="row">
  <div class="medium-6 columns">
      <div class="promo"><h4>Parc des Princes</h4><img src="img/parc-de-princes.jpg" class="circle"><span class="description">Ta del av den mäktiga stämning på historiska Parc des Princes.</span></div>
    </div>
    <div class="medium-6 columns">
       <div class="promo"><h4>Underbara Paris</h4><img src="img/paris.jpg" class="circle"><span class="description">Njut av en helg i underbara paris i kombination med världsklass fotboll.</span></div>
   </div>
 </div>